DEPLOYMENT_STAGE=dev
HTTP_PORT=8080
FRONTEND_BASE_URL=http://localhost:3000
BACKEND_PUBLIC_URL=http://localhost:8080
UPLOAD_DIR=PATH_TO_UPLOADS_DIRECTORY
AWS_REGION=AWS_REGION
AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY
GHL_CLIENT_KEY=GHL_CLIENT_KEY
GHL_TALENT_KEY=GHL_TALENT_KEY
STRIPE_KEY=STRIPE_SECRET_KEY
STRIPE_LISTING_PRICE=STRIPE_LISTING_PRICE_ID
STRIPE_ACCESS_PRICE=STRIPE_ACCESS_PRICE_ID
VAPID_PUBLIC_KEY=VAPID_PUBLIC_KEY
VAPID_PRIVATE_KEY=VAPID_PRIVATE_KEY
